<!DOCTYPE html>
<html lang="en">
  <head>
    <title>COVID-19 Helper Bot</title>
    <meta name="description" content="A Twitter chatbot with useful information about COVID-19">
    <link id="favicon" rel="icon" href="https://abs.twimg.com/favicons/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        COVID-19 Helper Bot
      </h1>
      <section>
        <p>
          This project is open source. Contribute by cloning it on Github and add information related to your country, using thurstworthy information from your local health authorities.
        </p>
      </section>
    </header>

    <footer>
      <h4>
        What are you going to build next?
      </h4>
      <small>
        <a href="https://developer.twitter.com">Twitter Developer</a> | 
        <a href="https://t.co/labs">Twitter Developer Labs</a>
      </small>
    </footer>
  </body>
</html>
